<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/dashboard"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/dashboard/addProduct"
            >Add Product</a
          >
        </li>
      </ul>
      <div class="d-flex align-items-center justify-content-center gap-3">
        <h5 class="mb-0">
          Welcome, Admin {{ GlobleService.adminName | titlecase }}
        </h5>
        <img
          [src]="GlobleService.imgUrl"
          alt="User"
          class="rounded-circle"
          style="width: 40px; height: 40px"
        />
        @if (GlobleService.adminLogin) {
        <button class="btn btn-primary" (click)="handelLogout()">Logout</button>
        }
      </div>
    </div>
  </div>
</nav>
